<section class="index-page">
  <a href="/user/profile">Profile</a>
  <a href="/user/profile/settings">Settings</a>
  
  <img src={{photo}} class="avatar"> 
  <h1>Welcome {{username}}</h1>

  <a href="/user/logout">Logout</a>
</section>